<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.description}"></td>
        <td th:text="${recipe.prepTime}"></td>
        <td th:text="${recipe.cookTime}"></td>
        <td th:text="${recipe.servings}"></td>
        <td th:text="${recipe.source}"></td>
        <td th:text="${recipe.url}"></td>
        <td th:text="${recipe.directions}"></td>



</table>
</body>
</html>